body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #252525;
    font-family: MuseoSansCyrl 300, sans-serif;
    color: #463f3a;
    font-size: 14px;
    font-weight: 300;
}
.layout-center-wrapper {
    width: 1180px;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
    padding: 0;
    margin: 0;
}
.headertop-block {
    padding: 10px 0;
}
.contacts{
    width: 30%;
    float: left;
}
.phone{
    padding-right: 15px;
}
.account-block {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 35%;
    float: right;
    outline: 1px dotted blue;
    
}
.account-block__item {
    padding: 0;
    padding-right: 25px;
    margin: 0;
    display: inline-block;
    text-align: center;
    color: #463f3a;
    
}
.account-block__item a {
    display: block;
    text-decoration: none;
    color: #463f3a;
}
.head-nav{
    padding: 50px 0;
    background-color: #f5f6f1;
}
.logo{
    width: 20%;
    margin-right: 9%;
    float: left;
    vertical-align: center;
    outline: 1px dotted brown;
}
.nav-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 50%;
    float: left;
    vertical-align: center;
    line-height: 40px;
    outline: 1px dotted blue;
    
}
.nav-menu__item {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    
}
.nav-menu__item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #463f3a;
    font-size: 18px;
    line-height: 14px;
    font-weight: 500;
}
.basket{
    width: 12%;
    float: right;
    text-align: right;
    outline: 1px dotted green;
}
.slider-block{
    padding: 40px 0;
}
.buler{
    box-sizing: border-box;
    background-size: cover;
    min-height: 520px;
    background: url("../images/slider-bullsy.jpg") no-repeat 50% 50%;  
}
.promo-block{
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.promo-block-item{
    padding: 25px 0;
    width: 31%;
    text-align: center;
    outline: 1px dotted green;
}
.demonstration__title{
    text-align: center;
}
.demonstration{
    padding: 35px 0;
    padding-bottom: 40px;
}
.demonstration__darkcolor{
    background-color: #f8f8f8;
}
.categories {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categories-item{
    width: 32%;
    outline: 1px dotted green;
}
.catalog{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.catalog-item{
    width: 24%;
    outline: 1px dotted green;
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-item{
    width: 31%;
    text-align: center;
    outline: 1px dotted green;
}
.bullsyinfo{
    padding: 40px 0;
    background-color: #f8f8f8;
}
.footer-linetop{
    padding: 75px 0;
    background-color: #463f3a;
}
.scrollup{
    width: 4%;
    float: right;
}
.footer-linebottom{
    padding: 15px 0;
    background-color: #f8f8f8; 
}
.social-items{
    width: 20%;
    float: left;
}
.design{
    width: 30%;
    float: right;
}


